# Python
__pycache__
*.pyc
*.pyo
*.pyd
.Python
*.so
*.egg
*.egg-info
dist
build

# Virtual environment
venv/
env/
ENV/

# Database
*.db
*.sqlite
*.sqlite3

# IDE
.vscode
.idea
*.swp

# OS
.DS_Store
Thumbs.db

# Uploads (sẽ được mount từ volume)
uploads/*
!uploads/.gitkeep

# Scripts
*.sh

